/* ==================== 
   CHARACTER INFORMATION
   ==================== */

#enhanced-ui-sheet .character-information {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--enhancedUI-spacing-xs);
  width: 100%;
  height: fit-content;
  margin-top: var(--enhancedUI-spacing-xs);
}

#enhanced-ui-sheet .character-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--enhancedUI-spacing-tiny);
}

#enhanced-ui-sheet .actor-name {
  border-radius: var(--enhancedUI-border-radius-s);
  padding: var(--enhancedUI-spacing-tiny);
  padding-left: var(--enhancedUI-spacing-xs);
  transform: translateX(-8px);
  width: calc(100% + 8px);
  cursor: text;
}

#enhanced-ui-sheet .actor-name:hover {
  background: var(--enhancedUI-color-background-secondary);
}

#enhanced-ui-sheet .actor-name:focus {
  outline: none;
  background: var(--enhancedUI-color-background-dark);
}

/* ==================== 
   LEVEL
   ==================== */

#enhanced-ui-sheet .character-level {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 72px;
  height: 100%;
  max-height: fit-content;
  padding: var(--enhancedUI-spacing-xs) var(--enhancedUI-spacing-xs);
  border: 1px solid var(--enhancedUI-color-border);
  border-radius: var(--enhancedUI-border-radius);
}

#enhanced-ui-sheet .level-button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: var(--enhancedUI-border-radius);
  background: var(--enhancedUI-color-tertiary);
  color: var(--enhancedUI-color-background-dark);
  transition: none;
  position: absolute;
  right: 94px;
}

#enhanced-ui-sheet .level-button:hover {
  box-shadow: 0px 0px 9px -1px var(--enhancedUI-color-tertiary);
}

/* ==================== 
   HEADER DETAILS
   ==================== */

#enhanced-ui-sheet .header-details {
  display: flex;
  flex-direction: column;
  gap: var(--enhancedUI-spacing-xs);
  width: 100%;
}

/* ==================== 
   HOPE
   ==================== */

#enhanced-ui-sheet .hope-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  gap: var(--enhancedUI-spacing-xs);
}

#enhanced-ui-sheet .hope-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: var(--enhancedUI-spacing-xs);
  padding-left: var(--enhancedUI-spacing-xs);
  padding-right: var(--enhancedUI-spacing-md);
  border: 1px solid var(--enhancedUI-color-border);
  border-radius: var(--enhancedUI-border-radius);
}

#enhanced-ui-sheet .hope-container:has(h3:hover) {
  box-shadow: 0px 0px 9px -1px var(--enhancedUI-color-border);
}

#enhanced-ui-sheet .hope-container h3 {
  height: 100%;
  padding: 0 var(--enhancedUI-spacing-xs);
  align-content: center;
  cursor: pointer;
}

#enhanced-ui-sheet .hope-container .hope-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--enhancedUI-spacing-sm);
}

#enhanced-ui-sheet .hope-icon-full {
  cursor: pointer;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  transform: rotate(45deg);
  background: linear-gradient(135deg, rgba(228, 149, 80, 1) 0%, rgba(243, 194, 103, 1) 100%);
  box-shadow:
    inset 1px 1px 1px 0px #ffdb9e,
    0px 0px 16px 0px rgba(243, 194, 103, 0.5);
}

#enhanced-ui-sheet .hope-icon-empty {
  cursor: pointer;
  cursor: pointer;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  transform: rotate(45deg);
  border: 1px solid var(--enhancedUI-color-border);
}

#enhanced-ui-sheet .hope-container .hope-bar .hope-icon-empty:hover {
  background: var(--enhancedUI-color-background-resourceHover);
}

/* ==================== 
HOMEBREW RESOURCE
==================== */

#enhanced-ui-sheet .hope-container .resource-manager {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.1s ease;
  color: var(--enhancedUI-color-border);
  margin-left: var(--enhancedUI-spacing-xs);
}

#enhanced-ui-sheet .hope-container .resource-manager:hover {
  text-shadow: none;
  color: var(--enhancedUI-color-primary);
}

#enhanced-ui-sheet .hope-container .resource-manager.inverted {
  transform: rotate(180deg);
  color: var(--enhancedUI-color-primary);
}

#tooltip.bordered-tooltip,
.locked-tooltip.bordered-tooltip {
  max-width: unset;
  border: 1px solid var(--enhancedUI-color-border-equipped);
  background: var(--enhancedUI-color-background-dark);
  padding: var(--enhancedUI-spacing-xs);
  margin-left: var(--enhancedUI-spacing-sm);
  border-radius: var(--enhancedUI-border-radius);
}

.bordered-tooltip.locked-tooltip .daggerheart.resource-management-container .resource-section,
#tooltip .daggerheart.resource-management-container .resource-section {
  gap: var(--enhancedUI-spacing-tiny);
  border: 1px solid var(--enhancedUI-color-border);
  background: var(--enhancedUI-color-background-primary);
}

.bordered-tooltip.locked-tooltip .daggerheart.resource-management-container .resource-section h4,
#tooltip .daggerheart.resource-management-container .resource-section h4 {
  color: var(--enhancedUI-color-secondary) !important;
  font-family: var(--enhancedUI-font-primary) !important;
  font-size: var(--enhancedUI-font-size-xs);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin-right: var(--enhancedUI-spacing-xs);
}

.bordered-tooltip.locked-tooltip .daggerheart.resource-management-container .resource-section .resource-value .empty,
#tooltip .daggerheart.resource-management-container .resource-section .resource-value .empty {
  color: var(--enhancedUI-color-border);
}

/* ==================== 
   DOMAINS
   ==================== */

#enhanced-ui-sheet .domains-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--enhancedUI-spacing-xs);
  height: 100%;
  margin-right: auto;
}

#enhanced-ui-sheet .domains-container .domain {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--enhancedUI-border-radius);
  border: 1px solid var(--enhancedUI-color-border);
}

#enhanced-ui-sheet .domains-container .domain img {
  width: 26px;
  height: 26px;
  filter: invert(100%) sepia(5%) saturate(5777%) hue-rotate(307deg) brightness(101%) contrast(90%);
}

/* ==================== 
   REST
   ==================== */

#enhanced-ui-sheet .btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--enhancedUI-spacing-xs);
  height: 100%;
  flex: 1;
}

#enhanced-ui-sheet .btn-container button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--enhancedUI-border-radius);
  border: 1px solid var(--enhancedUI-color-border);
  background: var(--enhancedUI-gradient-card);
  color: var(--enhancedUI-color-primary);
  outline: none;
  box-shadow: none;
  transition: none;
}

#enhanced-ui-sheet .btn-container button:hover {
  box-shadow: 0px 0px 9px -1px var(--enhancedUI-color-border);
}

/* ==================== 
   VALUES 
   ==================== */

#enhanced-ui-sheet .values-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--enhancedUI-spacing-xs);
  height: 32px;
}

#enhanced-ui-sheet .values-row .values-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--enhancedUI-spacing-md);
  height: 100%;
  padding: 0 var(--enhancedUI-spacing-md);
  border: 1px solid var(--enhancedUI-color-border);
  border-radius: var(--enhancedUI-border-radius);
  white-space: nowrap;
}

#enhanced-ui-sheet .values-row .values-container.thresholds {
  flex: 1;
  gap: var(--enhancedUI-spacing-sm);
  padding: 0;
}

#enhanced-ui-sheet .values-row .values-container.thresholds:has(.threshold-damage:hover) {
  box-shadow: 0px 0px 9px -1px var(--enhancedUI-color-border);
}

#enhanced-ui-sheet .values-row .values-container.thresholds .threshold-damage {
  display: inline-block;
  padding: var(--enhancedUI-spacing-tiny);
  cursor: pointer;
}

#enhanced-ui-sheet .values-row .values-container.thresholds .threshold-damage:hover {
  color: var(--enhancedUI-color-tertiary) !important;
}

/* ==================== 
   RESOURCES
   ==================== */

#enhanced-ui-sheet .resources-row {
  display: flex;
  flex-direction: row;
  gap: var(--enhancedUI-spacing-xs);
}

#enhanced-ui-sheet .resources-row .resource-container {
  display: flex;
  flex-direction: column;
  gap: var(--enhancedUI-spacing-tiny);
  padding: var(--enhancedUI-spacing-sm);
  padding-top: var(--enhancedUI-spacing-tiny);
  border: 1px solid var(--enhancedUI-color-border);
  border-radius: var(--enhancedUI-border-radius);
  flex: 1;
  justify-content: center;
  align-items: center;
}

#enhanced-ui-sheet .resources-row .resource-container:has(.resource-header:hover) {
  box-shadow: 0px 0px 9px -1px var(--enhancedUI-color-border);
}

#enhanced-ui-sheet .resources-row .resource-container .resource-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: var(--enhancedUI-spacing-xs) 0;
  cursor: pointer;
}

#enhanced-ui-sheet .resource-bar {
  display: flex;
  flex-direction: row;
  height: 12px;
  width: 100%;
  gap: 2px;
}

#enhanced-ui-sheet .resource-pip {
  flex: 1;
  height: 100%;
  border-radius: 2px;
  cursor: pointer;
}

#enhanced-ui-sheet .resource-pip.empty {
  border: 1px solid var(--enhancedUI-color-border);
}

#enhanced-ui-sheet .resource-pip.empty:hover {
  background: var(--enhancedUI-color-background-resourceHover);
}

#enhanced-ui-sheet .resource-pip.filled {
  border: 1px solid transparent;
}

#enhanced-ui-sheet .resource-pip.pip-hitpoints.filled {
  background: linear-gradient(180deg, #c42a44 0%, #e84747 100%);
  box-shadow: inset 0px 0.5px 0.5px 0.5px #ff988b;
}

#enhanced-ui-sheet .resource-pip.pip-stress.filled {
  background: linear-gradient(180deg, #5a3be6 0%, #6177e3 100%);
  box-shadow: inset 0px 0.5px 0.5px 0.5px #81a9ff;
}

#enhanced-ui-sheet .resource-pip.pip-armor.filled {
  background: linear-gradient(180deg, #77868c 0%, #c8d0d3 100%);
  box-shadow: inset 0px 0.5px 0.5px 0.5px #ffffff;
}

#enhanced-ui-sheet .armor-details-btn {
  font-size: 10px;
  color: var(--enhancedUI-color-border);
}

#enhanced-ui-sheet .armor-details-btn:hover {
  color: var(--enhancedUI-color-primary);
}

/* ARMOR DETAILS */

#tooltip.bordered-tooltip, .locked-tooltip.bordered-tooltip,
.bordered-tooltip.locked-tooltip .daggerheart.armor-management-container .slot-bar {
  border: 1px solid var(--enhancedUI-color-border);
}

.bordered-tooltip.locked-tooltip .daggerheart.armor-management-container .slot-bar {
  background: var(--enhancedUI-color-background-resourceHover);
}

.locked-tooltip.bordered-tooltip:has(.daggerheart.armor-management-container) {
  padding: var(--enhancedUI-spacing-md);
  padding-bottom: var(--enhancedUI-spacing-tiny);
  background: var(--enhancedUI-color-background-dark);
}

.bordered-tooltip.locked-tooltip .daggerheart.armor-management-container h3 {
  color: var(--enhancedUI-color-secondary) !important;
  font-family: var(--enhancedUI-font-primary) !important;
  font-size: var(--enhancedUI-font-size-md);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-align: center;
  margin-bottom: var(--enhancedUI-spacing-tiny);
}

.bordered-tooltip.locked-tooltip .daggerheart.armor-management-container .armor-source-container .armor-source-label {
  color: var(--enhancedUI-color-primary);
  font-family: var(--enhancedUI-font-primary);
}

.slot-bar.armor .slot {
  font-size: var(--enhancedUI-font-size-lg);
  color: var(--enhancedUI-color-primary);
  transition: none;
}

.slot-bar.armor .slot:hover .fa-regular.fa-shield {
  color: var(--enhancedUI-color-secondary);
  text-shadow: none;
}

.slot-bar.armor .slot .fa-regular.fa-shield {
  color: var(--enhancedUI-color-border);
}

/* ==================== 
   TRAITS
   ==================== */

#enhanced-ui-sheet .traits-row {
  display: flex;
  flex-direction: row;
  gap: var(--enhancedUI-spacing-xs);
}

#enhanced-ui-sheet .traits-row .trait-container {
  display: flex;
  flex-direction: column;
  gap: var(--enhancedUI-spacing-sm);
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: var(--enhancedUI-spacing-sm);
  padding-top: var(--enhancedUI-spacing-md);
  border: 1px solid var(--enhancedUI-color-border);
  border-radius: var(--enhancedUI-border-radius);
  background: var(--enhancedUI-gradient-trait);
  cursor: pointer;
}

#enhanced-ui-sheet .traits-row .trait-container:hover {
  box-shadow: 0px 0px 9px -1px var(--enhancedUI-color-border);
}

#enhanced-ui-sheet .traits-row .spellcast-trait {
  border: 1px solid var(--enhancedUI-color-border-spellcast);
  background: var(--enhancedUI-gradient-spellcast-trait);
}

#enhanced-ui-sheet .traits-row .spellcast-trait:hover {
  box-shadow: 0px 0px 9px -1px var(--enhancedUI-color-border-spellcast);
}

#enhanced-ui-sheet .traits-row .trait-container .trait-unmarked {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--enhancedUI-color-border);
}

#enhanced-ui-sheet .traits-row .spellcast-trait .trait-unmarked {
  border: 1px solid var(--enhancedUI-color-border-spellcast);
}

#enhanced-ui-sheet .traits-row .trait-container .trait-marked {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--enhancedUI-color-border);
}

#enhanced-ui-sheet .traits-row .spellcast-trait .trait-marked {
  background: var(--enhancedUI-color-border-spellcast);
}
