/* ==================== 
HEADER
==================== */

#enhanced-ui-sheet .party .header-content {
  padding: 0;
  flex-direction: row;
}

#enhanced-ui-sheet .party .party-portrait {
  width: 160px;
  height: 150px;
  overflow: hidden;
  mask-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%);
}

#enhanced-ui-sheet .party .party-portrait img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#enhanced-ui-sheet .party .party-header-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--enhancedUI-spacing-md);
  padding: var(--enhancedUI-spacing-xl) var(--enhancedUI-spacing-md) 0 0;
}

#enhanced-ui-sheet .party .party-header-container .party-details {
  display: flex;
  flex-direction: column;
  gap: var(--enhancedUI-spacing-tiny);
}

#enhanced-ui-sheet .party .party-header-container .btn-container {
  justify-content: flex-start;
}

#enhanced-ui-sheet .party .party-header-container .btn-container .party-roll {
  width: unset;
  gap: var(--enhancedUI-spacing-xs);
  white-space: nowrap;
}

/* ==================== 
PARTY MEMBERS
==================== */

#enhanced-ui-sheet .party-character {
  flex-direction: row;
  position: relative;
  overflow: visible;
}

#enhanced-ui-sheet .party-character .character-information {
  flex-direction: column;
  margin: var(--enhancedUI-spacing-xs);
  margin-left: 0;
  gap: var(--enhancedUI-spacing-tiny);
}

/* REMOVE */
#enhanced-ui-sheet .party-character .party-character-remove {
  position: absolute;
  top: -6px;
  right: -6px;
  width: var(--enhancedUI-spacing-md);
  height: var(--enhancedUI-spacing-md);
  cursor: pointer;
  
}

#enhanced-ui-sheet .party-character .party-character-remove .party-character-remove-icon {
  display: none;
  width: 100%;
  height: 100%;
  background: #E84747;
  color: #fff;
  font-size: var(--enhancedUI-font-size-tiny);
  border-radius: 50%;
}

#enhanced-ui-sheet .party-character .party-character-remove:hover .party-character-remove-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PORTRAIT */
#enhanced-ui-sheet .party-character .party-character-icon {
  mask-image: var(--enhancedUI-gradient-mask-icon);
  border-radius: var(--enhancedUI-border-radius) 0 0 var(--enhancedUI-border-radius);
}

#enhanced-ui-sheet .party-character .party-character-icon img {
  min-width: 200px;
  max-width: 200px;
  height: 156px;
  object-fit: cover;
}

/* OVERLAY */
#enhanced-ui-sheet .party-character .party-character-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 100%;
  padding: var(--enhancedUI-spacing-xs);
  padding-right: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}

/* Evasion */
#enhanced-ui-sheet .party-character .party-character-overlay .values-container.evasion {
  display: flex;
  align-items: center;
  overflow: hidden;
  background: var(--enhancedUI-color-background-input);
  padding: 0 var(--enhancedUI-spacing-sm);
  width: fit-content;
  height: var(--enhancedUI-spacing-xl);
  border: 1px solid var(--enhancedUI-color-border);
  border-radius: var(--enhancedUI-border-radius);
  pointer-events: auto;
}

#enhanced-ui-sheet .party-character .party-character-overlay .values-container.evasion .label-hidden {
  overflow: hidden;
  white-space: nowrap;
  max-width: 0px;
  opacity: 0;
  padding-left: 0;
  transition: all 0.2s ease;
}

#enhanced-ui-sheet .party-character .party-character-overlay .values-container.evasion:hover .label-hidden {
  max-width: 15ch;
  opacity: 1;
  padding-left: var(--enhancedUI-spacing-sm);
}

/* Thresholds */
#enhanced-ui-sheet .party-character .party-character-overlay .values-container.thresholds {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 var(--enhancedUI-spacing-xs);
  background: var(--enhancedUI-color-background-input);
  height: var(--enhancedUI-spacing-xl);
  border: 1px solid var(--enhancedUI-color-border);
  border-radius: var(--enhancedUI-border-radius);
  pointer-events: auto;
}

#enhanced-ui-sheet .party-character .party-character-overlay .values-container.thresholds .threshold-damage {
  cursor: pointer;
}

#enhanced-ui-sheet .party-character .party-character-overlay .values-container.thresholds .threshold-damage:hover {
  color: var(--enhancedUI-color-tertiary) !important;
}

/* NAME + HOPE */
#enhanced-ui-sheet .party-character .hope-row {
  width: 100%;
  justify-content: space-between;
}

#enhanced-ui-sheet .party-character .hope-row .hope-container {
  padding-left: var(--enhancedUI-spacing-md);
}

/* Equipment */
#enhanced-ui-sheet .party-character .party-character-overlay .equipment-container {
  display: flex;
  flex-direction: column;
  gap: var(--enhancedUI-spacing-tiny);
  position: absolute;
  top: var(--enhancedUI-spacing-xs);
  right: 0;
  pointer-events: auto;
}

#enhanced-ui-sheet .party-character .party-character-overlay .equipment-container .equipment-icon {
  width: var(--enhancedUI-spacing-xl);
  height: var(--enhancedUI-spacing-xl);
  border: 1px solid var(--enhancedUI-color-border);
  border-radius: 50%;
  overflow: hidden;
}

/* RESOURCES + TRAITS */
#enhanced-ui-sheet .party-character .resources-traits-row {
  display: flex;
  width: 100%;
  gap: var(--enhancedUI-spacing-tiny);
}

/* Resources */
#enhanced-ui-sheet .party-character .resources-traits-row .resources-row {
  flex-direction: column;
  width: 100%;
  gap: var(--enhancedUI-spacing-tiny);
}

#enhanced-ui-sheet .party-character .resources-traits-row .resources-row .resource-container {  
  display: grid;
  grid-template-columns: auto 1fr 52px;
  align-items: center;
  padding: var(--enhancedUI-spacing-tiny) var(--enhancedUI-spacing-xs);
  gap: var(--enhancedUI-spacing-xs);
}

#enhanced-ui-sheet .party-character .resources-traits-row .resources-row .resource-container .resource-header {
  display: flex;
  justify-content: center;
  width: auto;
  padding: 0;
  cursor: pointer;
}
#enhanced-ui-sheet .party-character .resources-traits-row .resources-row .resource-container .resource-header i {
  color: var(--enhancedUI-color-border);
  font-size: var(--enhancedUI-font-size-md);
  margin-right: var(--enhancedUI-spacing-tiny);
}
#enhanced-ui-sheet .party-character .resources-traits-row .resources-row .resource-container .resource-bar {
  height: 12px;
  width: 100%;
}
#enhanced-ui-sheet .party-character .resources-traits-row .resources-row .resource-container .resource-header:has(.resource-number) {
  padding: 0 var(--enhancedUI-spacing-tiny);
  white-space: nowrap;
}

/* Traits */
#enhanced-ui-sheet .party-character .resources-traits-row .traits-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 178px;
    min-width: 178px;
  gap: var(--enhancedUI-spacing-tiny);
  grid-auto-flow: column;
}

#enhanced-ui-sheet .party-character .resources-traits-row .traits-row .trait-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--enhancedUI-spacing-xl);
  justify-content: space-between;
  gap: 0;
  padding: 0 var(--enhancedUI-spacing-xs);
  border: 1px solid var(--enhancedUI-color-border);
  border-radius: var(--enhancedUI-border-radius);
  background: var(--enhancedUI-gradient-card);
  cursor: default;
}

#enhanced-ui-sheet .party-character .resources-traits-row .traits-row .trait-container[data-action] {
  cursor: pointer;
}

#enhanced-ui-sheet .party-character .resources-traits-row .traits-row .trait-container:hover {
  box-shadow: none;
}

#enhanced-ui-sheet .party-character .resources-traits-row .traits-row .trait-container[data-action]:hover {
  box-shadow: 0px 0px 9px -1px var(--enhancedUI-color-border);
}

#enhanced-ui-sheet .party-character .resources-traits-row .traits-row .spellcast-trait {
  border: 1px solid var(--enhancedUI-color-border-spellcast);
  background: linear-gradient(90deg, rgba(104, 79, 89, 0.12) 0%, rgba(104, 176, 181, 0.3) 100%);
}

#enhanced-ui-sheet .party-character .resources-traits-row .traits-row .spellcast-trait[data-action]:hover {
  box-shadow: 0px 0px 9px -1px var(--enhancedUI-color-border-spellcast);
}

#enhanced-ui-sheet .party-character .resources-traits-row .traits-row .trait-container .trait-name {
  margin: 0;
  font-size: var(--enhancedUI-font-size-xs);
}

#enhanced-ui-sheet .party-character .resources-traits-row .traits-row .trait-container .trait-number {
  font-size: var(--enhancedUI-font-size-lg);
  letter-spacing: 2px;
}

/* /////////// */

#enhanced-ui-sheet .tabs.members-tab {
  gap: var(--enhancedUI-spacing-xs);
  display: none;
}

#enhanced-ui-sheet .tab-pane.active .tabs.members-tab {
  display: flex;
}

#enhanced-ui-sheet .card-container.header.party-character-header {
  display: flex;
  min-height: 74px;
}

#enhanced-ui-sheet .party-character .party-character-icon img {
  transition: transform 0.2s ease;
}

#enhanced-ui-sheet .party-character .party-character-icon:hover img {
  transform: scale(1.05);
}

#enhanced-ui-sheet .party-character .party-character-details .card-text {
  margin-right: var(--enhancedUI-spacing-md);
}

#enhanced-ui-sheet .party-character .party-character-details .card-text .tag {
  margin-top: var(--enhancedUI-spacing-xs);
}

#enhanced-ui-sheet .party-character .party-controls {
  gap: var(--enhancedUI-spacing-sm);
  margin-left: 0;
  margin-right: var(--enhancedUI-spacing-sm);
}

#enhanced-ui-sheet .party-character .party-controls a {
  display: flex;
  width: 32px;
  height: 32px;
  color: var(--enhancedUI-color-secondary);
  background: var(--enhancedUI-color-background-input);
  border-radius: var(--enhancedUI-border-radius-s);
}

#enhanced-ui-sheet .party-character .party-controls a:hover {
  filter: none;
}

#enhanced-ui-sheet .party-character .party-controls a:hover .fa-trash {
  color: #b83636;
  text-shadow: none;
}

#enhanced-ui-sheet .party-character .party-character-information {
  display: flex;
  flex-direction: column;
  gap: var(--enhancedUI-spacing-xs);
  padding: var(--enhancedUI-spacing-sm);
  padding-top: 0;
}

#enhanced-ui-sheet .party-character .values-row.level {
  margin-left: auto;
}