/* ==================== 
   GOOGLE FONTS 
   ==================== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Rubik:wght@400;500;600;700;800&display=swap");

/* ==================== 
   CSS VARIABLES (Sheet-specific)
   ==================== */
#enhanced-ui-sheet,
.floating-tabs-nav,
.dh-style,
.chat-message,
.application.daggerheart,
#party-overview-widget,
.enhanced-ui-countdown-tracker,
.enhanced-ui-countdown-sidebar {
  /* Fonts */
  --enhancedUI-font-primary: "Montserrat", sans-serif;
  --enhancedUI-font-secondary: "Rubik", sans-serif;

  --enhancedUI-font-weight-regular: 400;
  --enhancedUI-font-weight-medium: 500;
  --enhancedUI-font-weight-semibold: 600;
  --enhancedUI-font-weight-bold: 700;

  --enhancedUI-font-size-tiny: 8px;
  --enhancedUI-font-size-xs: 10px;
  --enhancedUI-font-size-sm: 12px;
  --enhancedUI-font-size-md: 14px;
  --enhancedUI-font-size-lg: 16px;
  --enhancedUI-font-size-xl: 24px;
  --enhancedUI-font-size-name: 28px;

  /* Spacing */
  --enhancedUI-spacing-tiny: 4px;
  --enhancedUI-spacing-xs: 8px;
  --enhancedUI-spacing-sm: 12px;
  --enhancedUI-spacing-md: 16px;
  --enhancedUI-spacing-xm: 18px;
  --enhancedUI-spacing-lg: 24px;
  --enhancedUI-spacing-xl: 32px;

  --enhancedUI-sidebar-width: 275px;

  /* Border Radius */
  --enhancedUI-border-radius: 8px;
  --enhancedUI-border-radius-s: 4px;

  /* Colors */
  --enhancedUI-color-primary: #efe6d8;
  --enhancedUI-color-secondary: #cbcfe2;
  --enhancedUI-color-tertiary: #f3c267;

  --enhancedUI-color-background-primary: rgba(26, 30, 43, 0.75);
  --enhancedUI-color-background-secondary: rgba(20, 24, 34, 0.75);
  --enhancedUI-color-background-input: #1a1e2b;
  --enhancedUI-color-background-dark: #141822;
  --enhancedUI-color-background-resourceHover: rgba(79, 89, 137, 0.3);

  --enhancedUI-color-border: #4f5989;
  --enhancedUI-color-border-spellcast: #68b0b5;
  --enhancedUI-color-border-equipped: #9d7c40;

  --enhancedUI-color-tag-text: #add0f1;
  --enhancedUI-color-tag-border: #4e6aa5;
  --enhancedUI-color-tag-background: rgba(78, 106, 165, 0.3);

  --enhancedUI-color-tag2-text: #abede7;
  --enhancedUI-color-tag2-border: #68b0b5;
  --enhancedUI-color-tag2-background: rgba(104, 176, 181, 0.3);

  --enhancedUI-color-tag3-text: #ffd6a8;
  --enhancedUI-color-tag3-border: #e88a47;
  --enhancedUI-color-tag3-background: rgba(232, 138, 71, 0.3);

  --enhancedUI-color-tag4-text: #ffbdb2;
  --enhancedUI-color-tag4-border: #e84747;
  --enhancedUI-color-tag4-background: rgba(232, 71, 71, 0.3);

  --enhancedUI-color-tag5-text: #d2bfff;
  --enhancedUI-color-tag5-border: #7747e8;
  --enhancedUI-color-tag5-background: rgba(119, 71, 232, 0.3);

  --enhancedUI-color-scrollbar: rgba(79, 89, 137, 0.8);

  /* Gradients */
  --enhancedUI-gradient-mask-portrait: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%);
  --enhancedUI-gradient-mask-icon: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%);
  --enhancedUI-gradient-card: linear-gradient(90deg, rgba(104, 79, 89, 0.12) 0%, rgba(79, 89, 137, 0.3) 100%);
  --enhancedUI-gradient-currency: linear-gradient(90deg, rgb(232, 138, 71, 0.12) 0%, rgb(243, 194, 103, 0.3) 100%);
  --enhancedUI-gradient-trait: linear-gradient(0deg, rgba(104, 79, 89, 0.12) 0%, rgba(79, 89, 137, 0.3) 100%);
  --enhancedUI-gradient-spellcast-trait: linear-gradient(0deg, rgba(104, 79, 89, 0.12) 0%, rgba(104, 176, 181, 0.3) 100%);
  --enhancedUI-gradient-line-left: linear-gradient(90deg, rgba(79, 89, 137, 0) 0%, rgba(79, 89, 137, 1) 100%);
  --enhancedUI-gradient-line-right: linear-gradient(260deg, rgba(79, 89, 137, 0) 0%, rgba(79, 89, 137, 1) 100%);
  --enhancedUI-gradient-line-middle: linear-gradient(260deg, rgba(79, 89, 137, 0) 0%, rgba(79, 89, 137, 1) 50%, rgba(79, 89, 137, 0) 100%);
}

/* ==================== 
   GENERAL
   ==================== */

#enhanced-ui-sheet {
  width: fit-content;
  min-width: 860px;
  border: none !important;
  background: #1e1e2a99;
  backdrop-filter: blur(8px) !important;
}

#enhanced-ui-sheet.daggerheart.sheet.actor.adversary.enhanced-ui {
  min-width: 750px;
}

#enhanced-ui-sheet.daggerheart.sheet.actor.companion.enhanced-ui {
  min-width: 370px;
  max-width: 370px;
}

#enhanced-ui-sheet.daggerheart.sheet.actor.party.enhanced-ui {
  min-width: 700px;
}

#enhanced-ui-sheet.daggerheart.sheet.actor.environment.enhanced-ui {
  min-width: 540px;
}

#enhanced-ui-sheet.minimized {
  min-width: 0 !important;
}

#enhanced-ui-sheet .window-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: var(--enhancedUI-color-background-primary);
  font-family: var(--enhancedUI-font-primary);
  font-weight: var(--enhancedUI-font-weight-regular);
  font-size: var(--enhancedUI-font-size-md);
  padding: 0 !important;
}

#enhanced-ui-sheet .sheet-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  gap: 0;
}

/* ==================== 
   WINDOW CONTROLS
   ==================== */

#enhanced-ui-sheet .window-header button {
  color: var(--enhancedUI-color-primary);
}

#enhanced-ui-sheet .window-header .attribution-header-label {
  color: rgba(239, 230, 216, 0.3);
}

#enhanced-ui-sheet .controls-dropdown {
  background: black;
  border-radius: var(--enhancedUI-border-radius-s);
  right: var(--enhancedUI-spacing-tiny);
  transition: all 0.3s ease;
}

#enhanced-ui-sheet .controls-dropdown .header-control button {
  background: transparent;
  border: none;
  border-radius: 0px;
  padding: var(--enhancedUI-spacing-md) var(--enhancedUI-spacing-xs);
  color: var(--enhancedUI-color-primary);
  transition: none;
}

#enhanced-ui-sheet .controls-dropdown .header-control button:hover {
  background: var(--enhancedUI-color-border);
}

/* ==================== 
   SCROLLBAR
   ==================== */

* #enhanced-ui-sheet .main-content .tab-content {
  scrollbar-color: var(--enhancedUI-color-border) transparent !important;
}

/* ==================== 
   SIDEBAR
   ==================== */
#enhanced-ui-sheet [data-application-part="sidebar"] {
  min-width: var(--enhancedUI-sidebar-width);
  max-width: var(--enhancedUI-sidebar-width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--enhancedUI-color-background-secondary);
  border-right: 1px solid var(--enhancedUI-color-border);
  position: relative;
}

/* ==================== 
   MAIN CONTENT
   ==================== */
#enhanced-ui-sheet [data-application-part="mainSheet"] {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#enhanced-ui-sheet .header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid var(--enhancedUI-color-border);
  gap: var(--enhancedUI-spacing-md);
  padding: var(--enhancedUI-spacing-md);
  padding-top: var(--enhancedUI-spacing-xl);
}

#enhanced-ui-sheet .tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#enhanced-ui-sheet .tabs {
  display: flex;
  flex-direction: column;
  gap: var(--enhancedUI-spacing-lg);
}

/* ==================== 
   TYPOGRAPHY
   ==================== */

#enhanced-ui-sheet h1 {
  color: var(--enhancedUI-color-primary) !important;
  font-family: var(--enhancedUI-font-secondary) !important;
  font-size: var(--enhancedUI-font-size-name);
  font-weight: var(--enhancedUI-font-weight-bold);
  text-transform: uppercase;
}

#enhanced-ui-sheet h1.small {
  font-size: var(--enhancedUI-font-size-xl);
}

#enhanced-ui-sheet h2 {
  color: var(--enhancedUI-color-secondary) !important;
  font-family: var(--enhancedUI-font-primary) !important;
  font-size: var(--enhancedUI-font-size-md);
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

#enhanced-ui-sheet h3 {
  color: var(--enhancedUI-color-secondary) !important;
  font-family: var(--enhancedUI-font-primary) !important;
  font-size: var(--enhancedUI-font-size-xs);
  text-transform: uppercase;
  letter-spacing: 1px;
}

#enhanced-ui-sheet p,
#enhanced-ui-sheet span {
  font-family: var(--enhancedUI-font-primary) !important;
}

#enhanced-ui-sheet .trait-name {
  color: var(--enhancedUI-color-secondary) !important;
  font-family: var(--enhancedUI-font-primary) !important;
  font-size: var(--enhancedUI-font-size-tiny);
  font-weight: var(--enhancedUI-font-weight-semibold);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 -16px;
}

#enhanced-ui-sheet .level-value {
  color: var(--enhancedUI-color-primary) !important;
  font-family: var(--enhancedUI-font-primary) !important;
  font-size: var(--enhancedUI-font-size-xl);
  font-weight: var(--enhancedUI-font-weight-bold);
}

#enhanced-ui-sheet .value-number {
  color: var(--enhancedUI-color-primary) !important;
  font-family: var(--enhancedUI-font-primary) !important;
  font-size: var(--enhancedUI-font-size-lg);
  font-weight: var(--enhancedUI-font-weight-bold);
}

#enhanced-ui-sheet .resource-number {
  color: var(--enhancedUI-color-primary) !important;
  font-family: var(--enhancedUI-font-primary) !important;
  font-size: var(--enhancedUI-font-size-sm);
  font-weight: var(--enhancedUI-font-weight-bold);
  letter-spacing: 2px;
  transform: translateY(-1px);
}

#enhanced-ui-sheet .trait-number {
  color: var(--enhancedUI-color-primary) !important;
  font-family: var(--enhancedUI-font-primary) !important;
  font-size: var(--enhancedUI-font-size-xl);
  font-weight: var(--enhancedUI-font-weight-bold);
  line-height: var(--enhancedUI-spacing-xm);
}

#enhanced-ui-sheet .experience-number {
  color: var(--enhancedUI-color-primary) !important;
  font-family: var(--enhancedUI-font-secondary) !important;
  font-size: var(--enhancedUI-font-size-sm);
  font-weight: var(--enhancedUI-font-weight-bold);
}

#enhanced-ui-sheet .loadout-number {
  color: var(--enhancedUI-color-primary) !important;
  font-family: var(--enhancedUI-font-primary) !important;
  font-size: var(--enhancedUI-font-size-md);
  font-weight: var(--enhancedUI-font-weight-bold);
  letter-spacing: 3px;
}

#enhanced-ui-sheet .card-text-name {
  color: var(--enhancedUI-color-primary) !important;
  font-family: var(--enhancedUI-font-primary) !important;
  font-size: var(--enhancedUI-font-size-md);
  font-weight: var(--enhancedUI-font-weight-medium);
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: start;
  white-space: nowrap;
}

#enhanced-ui-sheet .card-text-details {
  color: var(--enhancedUI-color-secondary) !important;
  font-family: var(--enhancedUI-font-primary) !important;
  font-size: var(--enhancedUI-font-size-sm);
  font-weight: var(--enhancedUI-font-weight-regular);
  text-align: start;
  white-space: nowrap;
}

#enhanced-ui-sheet .card-button {
  color: var(--enhancedUI-color-primary) !important;
  font-family: var(--enhancedUI-font-primary) !important;
  font-size: var(--enhancedUI-font-size-sm);
}

#enhanced-ui-sheet .resource {
  color: var(--enhancedUI-color-primary) !important;
  font-family: var(--enhancedUI-font-primary) !important;
  font-size: var(--enhancedUI-font-size-md);
  font-weight: var(--enhancedUI-font-weight-semibold);
}

#enhanced-ui-sheet .tab-text {
  font-family: var(--enhancedUI-font-primary) !important;
  font-size: var(--enhancedUI-font-size-md);
  font-weight: var(--enhancedUI-font-weight-medium);
}

#enhanced-ui-sheet .separator {
  display: inline-block;
  width: 1px;
  height: 60%;
  background: var(--enhancedUI-color-border);
}

#enhanced-ui-sheet h1.window-title {
  font-family: var(--enhancedUI-font-primary);
  font-size: var(--enhancedUI-font-size-md);
  font-weight: var(--enhancedUI-font-weight-regular);
  text-transform: none;
  padding-left: var(--enhancedUI-spacing-xs);
}

/* ==================== 
   INPUTS
   ==================== */

#enhanced-ui-sheet input {
  border: none !important;
  outline: none;
  transition: none;
  text-align: center;
  width: 100%;
  border-radius: var(--enhancedUI-border-radius-s) !important;
  background: var(--enhancedUI-color-background-input) !important;
  color: var(--enhancedUI-color-primary) !important;
  font-family: var(--enhancedUI-font-primary) !important;
  font-size: var(--enhancedUI-font-size-md);
  font-weight: var(--enhancedUI-font-weight-semibold);
}

#enhanced-ui-sheet input:hover {
  background: var(--enhancedUI-color-background-dark) !important;
}

#enhanced-ui-sheet input:focus {
  background: var(--enhancedUI-color-background-dark);
}

/* ==================== 
   TAGS 
   ==================== */

#enhanced-ui-sheet .character-tags {
  display: flex;
  flex-direction: row;
  gap: var(--enhancedUI-spacing-tiny);
  flex-wrap: wrap;
}

#enhanced-ui-sheet .tag [data-action] {
  cursor: pointer;
  padding: var(--enhancedUI-spacing-tiny) var(--enhancedUI-spacing-xs);
}

#enhanced-ui-sheet .tag:not(:has([data-action])) {
  padding: var(--enhancedUI-spacing-tiny) var(--enhancedUI-spacing-xs);
}

#enhanced-ui-sheet .tag {
  border-radius: var(--enhancedUI-border-radius);
  font-size: var(--enhancedUI-font-size-xs);
  color: var(--enhancedUI-color-tag-text);
  border: 1px solid var(--enhancedUI-color-tag-border);
  background: var(--enhancedUI-color-tag-background);
  height: 20px;
  line-height: initial;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

#enhanced-ui-sheet .tag i {
  margin-right: var(--enhancedUI-spacing-tiny);
  transform: translateY(-1px);
}

#enhanced-ui-sheet .tag-blue {
  color: var(--enhancedUI-color-tag-text);
  border: 1px solid var(--enhancedUI-color-tag-border);
  background: var(--enhancedUI-color-tag-background);
}

#enhanced-ui-sheet .tag-green {
  color: var(--enhancedUI-color-tag2-text);
  border: 1px solid var(--enhancedUI-color-tag2-border);
  background: var(--enhancedUI-color-tag2-background);
}

#enhanced-ui-sheet .tag-orange {
  color: var(--enhancedUI-color-tag3-text);
  border: 1px solid var(--enhancedUI-color-tag3-border);
  background: var(--enhancedUI-color-tag3-background);
}

#enhanced-ui-sheet .tag-red {
  color: var(--enhancedUI-color-tag4-text);
  border: 1px solid var(--enhancedUI-color-tag4-border);
  background: var(--enhancedUI-color-tag4-background);
}

#enhanced-ui-sheet .tag-purple {
  color: var(--enhancedUI-color-tag5-text);
  border: 1px solid var(--enhancedUI-color-tag5-border);
  background: var(--enhancedUI-color-tag5-background);
}
